* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

body {
    
    background-color: #F2E2CE;
}

a, a:hover, .nav-link {

    color: #260D0A;
    font-weight: bold;
    text-decoration: none;
}

h1 {

    text-align: center;
    font-size: 5vw;
    font-weight: bold;
}

button {

    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid #07402B;
    color: #07402B;
    background-color: #F2E2CE;
    font-weight: bold;
}

hr {

    height: 2px;
    opacity: 1;
    width: 80%;
}

.row-cont {
    margin-top: 10%;
    margin-bottom: 5%;
}

/* ---------- NAV BAR ---------- */

#sep-inicio {

    width: 100%;
    height: 2px;
    color: #260D0A;
    opacity: 1;
    margin-top: 2%;
}

/* ---------- FOOTER ---------- */

footer {

    background-color: #260D0A;
    color: white;
}

footer .row {

    margin-bottom: 0;
}

.container-footer {

    padding: 4%;
    padding-bottom: 2%;
    color: white;
}

#menu-footer {

    margin-bottom: 3%;
    padding-left: 4%;
}

.container-footer .nav-link {

    color: white;
    font-size: 30pt;
}

.form-label {

    font-size: 18px;
}

.form-suscribe {

    width: 70%;
}

.btn-submit {

    padding: 1%;
    width: 30%;
    font-weight: bolder;
}

#redes {

    margin-top: 8%;
}

.logo-red {

    margin-top: 4%;
    margin-right: 5%;
}

.rights {

    margin-top: 2%;
    margin-bottom: 0;
    text-align: center;
    font-size: 12px;
} 


/* ---------- HOME ---------- */

/* ÚLTIMA ENTRADA BLOG */
.fecha {

    font-size: 12px;
}

/* CAFÉ 101 */

#cont-cafe101 {

    padding: 3%;
}

#tit hr {

    width: 30%;
}

.carta {

    margin-top: 7%;
    color: #F2EBDC;
}

.carta2 {

    margin-top: 3%;
    color: #F2EBDC;
}

.c-filtrado {
    
    padding: 6% 10% 6% 10%;
    background-color: #07402B;
}

.c-filtrado h2, .c-granos h2 {

    margin-left: 8%;
}

.c-bebida {

    padding: 5%;
    background-color: #A65858;
} 

.c-bebida h2, .c-señora h2 {

    text-align: center;
}
.c-bebida img, .c-señora img {

    margin: auto;
}

.c-granos {

    padding: 6% 10% 6% 10%;
    background-color: #260D0A;
}

.c-señora {

    background-color: #8C4C46;
}

/* CARROUSEL */

.carousel {

    margin-top: 7%;
    height: 50vh;
}

.carousel img {
    
    height: 50vh;
    filter: brightness(50%);
}

.carousel-caption {

    margin-bottom: 5%;
}

/* QUIENES SOMOS */

#quienes-somos {

    color:#F2EBDC;
    background-color: #8C4C46;
    padding: 5%;
}

#desq-qs {

    width: 70%;
    padding: 3%;
    margin: auto;
    text-align: center;
}

#perfiles {

    width: 75%;
    margin: auto;
    margin-top: 3%;
}

#profile {

    text-align: center;
}

#profile-pic {

    margin-bottom: 5%;
    padding: 1%;
    border-radius: 50%;
    border-style: solid;
    border-color: #F2E2CE;
    border-width: 2px;
}

/* ---------- LUGARES ---------- */

.cafeterias {

    padding: 2%;
    border: 2px solid #07402B;
    border-radius: 20px;
}

/* ---------- RESEÑAS ---------- */

/* ---------- CAFÉ 101 ---------- */

#tit-caf101 {

    padding: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 8%;
    color: #F2EBDC;
    background-color: #07402B;
}

.curso {

    width: 80%;
    margin: auto;
    margin-top: 10%;
}

#info {

    margin: auto;
    padding-left: 5%;
}

.curso hr {

    height: 2px;
    width: 90%;
}

.tipos-filtrados {

   text-align: center;
}

.tipos-filtrados h2 {

    margin-top: 3%;
    margin-bottom: 3%;
}

.tipos-filtrados hr {

    width: 100%;
}

.tipos-filtrados button {

    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
}

#prep-bebidas {

    margin-bottom: 8%;
}

/* ---------- BLOG ---------- */

#tit-blog {

    width: 85%;
}

#tit-blog h1 {

    text-align: left;
}

#tit-blog p {

    font-size: 20pt;
}

#entradas {

    margin-top: 5%;
}

.articulo {

    padding: 3%;
    padding-left: 0;
}
